.deps
.libs
.vscode
autom4te.cache
aclocal.m4
autoscan.log
compile
config.guess
config.h.*
config.h
config.log
config.status
config.sub
configure
configure.scan
depcomp
libtool
libuserservice.la
libuserservice.a
ltmain.sh
compile
Makefile
Makefile.in
missing
stamp-h1
userservice.lo
userservice.o
install-sh
